.skills{
    background:whitesmoke;
    padding: 2%;
  }
  .skills .content{
    padding: 40px 0;
  }
  .skills .skills-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .skills-details .text{
    width: 50%;
  }
  .skills-details p{
    color: #0E2431;
    text-align: justify;
     word-spacing: 5px;
    line-height: 23px;
  }
 .skills .skills-details .experience{
   display: flex;
   align-items: center;
   margin: 0 10px;
 }
 .skills-details .experience .num{
   color: #0E2431;
   font-size: 80px;
 }
 .skills-details .experience .exp{
   color: #0E2431;
   margin-left:20px;
   font-size: 18px;
   font-weight: 500;
   margin: 0 6px;
 }
 .skills-details .boxes{
   width: 45%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
 }
 .skills-details .box{
   width: calc(100% / 2 - 20px);
   margin: 20px 0;
 }
 .skills-details .boxes .topic{
   font-size: 20px;
   color:navy;
 }
 .skills-details .boxes .per{
   font-size: 60px;
   color:navy;
 }